@model IEnumerable<hardwarestore.Models.SalesItemViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>A Record Of Each Sale</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="tblData" class="table">
    <thead>
        <tr>
            @* <th>
            @Html.DisplayNameFor(model => model.SalesId)
        </th>*@
            @*<th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CustomerNAme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            @* <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @* <td>
            @Html.DisplayFor(modelItem => item.SalesId)
        </td>*@
            @*<td>
            @Html.DisplayFor(modelItem => item.CustomerId)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerNAme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdDetails.ProductName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ProdDetails.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesDate)
            </td>
            @* <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>*@


        <td>
            @* @Html.ActionLink("Edit", "Edit", new {  id=item.Id}) *@
            <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.SalesItemId"> <i class="fa fa-pencil" aria-hidden="true"> </i>Edit</a>
            @* <a asp-action="Details " class="btn btn-success" asp-route-id="@item.Id"> <i class="fa fa-info-circle" aria-hidden="true"> </i> Details</a>*@
            <a asp-action="Details" class="btn btn-success" asp-route-id="@item.SalesItemId">Details</a>

            <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.SalesItemId" onclick="return confirm('Are you sure you would want to delete this record ?😣')"> <i class="fa fa-trash" aria-hidden="true"></i> Delete</a>

            @* @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
    $(document).ready(function () {
        $('#tblData').DataTable();
    });


    </script>
}